{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Our products</h1>
    <a href="{{ path('new_product') }}">
        Create New
    </a>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
      {% for prod in products %}
      <tr>
        <td align="center">{{ prod.getName() }}</td>
        <td align="center">{{ prod.getPrice() }}</td>
        <td align="left">
            <a href="products/edit/{{ prod.getId() }}">Edit</a>
        </td>
      </tr>
      {% endfor %}
    </table>

    <br/>
    <a href="{{ path('orders') }}">
        Back to Orders
    </a>
</div>
{% endblock %}
